* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 100vw;
    background-color: black;
}
nav {
    display: flex;
    width: 100%;
    height: 130px;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 100px;
    border-radius:50%;
    margin-top: 10px;
    margin-left: 15px;

    
}
.topmenu a{
    color: white;
    padding: 10px;
    text-decoration: none;

}
a:hover{
    font-weight: bold;
    text-decoration: underline;
}
.info {
    background-color: grey;
    width: 80px;
    height: 80px;
    border-radius:50%;
    position: fixed;
    float: left;
    bottom: 0;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
.container {
    display:flex;
    flex-wrap: wrap;
    
}
.foto1 {
    background-color: chocolate;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 15px 15px;
    border-bottom-right-radius: 10%;
    flex-grow:1;
}
.foto1 img {
    width: 100px;
    height: 80px;;
    padding-top: 5px;
    
}
.foto2 {
    background-color: chocolate;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 15px 15px;
    border-bottom-right-radius: 10%;
    flex-grow: 1;
}
.foto2 img {
    width: 100px;
    height: 80px;;
    padding-top: 5px;
    
}
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    text-align: justify;
}
h2 {
    font-weight: bold;
    color: #fff;
    padding-top: 5px;
}
footer {
    background-color: black;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.copy {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

